:root {  
  --accent-1: color-mix(in srgb, white 15%, -moz-accent-color);
  --accent-2: color-mix(in srgb, white 30%, -moz-accent-color);
  --accent-3: color-mix(in srgb, white 40%, -moz-accent-color);
  --accent-4: color-mix(in srgb, white 60%, -moz-accent-color);
  
  --highlight-grey-1: rgb(170, 170, 170);
  --highlight-grey-2: rgb(150, 150, 150);
  
  --arrowpanel-border-color: var(--highlight-grey-1) !important;

  --autocomplete-popup-highlight-background: var(--highlight-grey-2) !important;
  --autocomplete-popup-hover-background: var(--highlight-grey-1) !important;

  --button-active-bgcolor: var(--accent-3) !important;
  --button-bgcolor: var(--highlight-grey-1) !important;
  --button-hover-bgcolor: var( --accent-3) !important;

  --checkbox-border-color: var(--accent-4) !important;
  --checkbox-checked-active-bgcolor: var(--accent-2) !important;
  --checkbox-checked-bgcolor: -moz-accent-color !important;
  --checkbox-checked-color: var(--accent-4) !important;
  --checkbox-checked-hover-bgcolor: var(--accent-2) !important;
  --checkbox-unchecked-active-bgcolor: var(--accent-2) !important;
  --checkbox-unchecked-bgcolor: var(--accent-1) !important;
  --checkbox-unchecked-hover-bgcolor: var(--accent-2) !important;

  --focus-outline-color: var(--accent-4) !important;

  --input-bgcolor: -moz-accent-color !important;

  --lwt-accent-color: -moz-accent-color !important;
  --lwt-selected-tab-background-color:  var(--lwt-toolbar-field-background-color) !important;
  --lwt-toolbar-field-background-color: var(--accent-2) !important;
  --lwt-toolbar-field-border-color: rgb(190, 190, 190) !important;
  --lwt-toolbar-field-focus: var(--accent-2) !important;
  
  --toolbar-bgcolor: var(--accent-1) !important;
  --toolbar-field-non-lwt-bgcolor: #f1f1f1 !important;
}

#titlebar > .browser-toolbar {
 background-color: -moz-accent-color !important;
}

.tabbrowser-tab[selected="true"] {
  color: black !important;
}

.tabbrowser-tab {
  color: white !important;
}