:root {  
  --accent-0: color-mix(in srgb, black 0%, AccentColor);
  --accent-1: color-mix(in srgb, white 15%, AccentColor);
  --accent-2: color-mix(in srgb, white 30%, AccentColor);
  --accent-3: color-mix(in srgb, white 40%, AccentColor);
  --accent-4: color-mix(in srgb, white 60%, AccentColor);
  
  
  --arrowpanel-border-color: var(--accent-1) !important;
  --arrowpanel-background: var(--accent-0) !important;

  --autocomplete-popup-highlight-background: var(--accent-2) !important;
  --autocomplete-popup-hover-background: var(--accent-1) !important;
  --autocomplete-popup-separator-color: rgba(249,249,250,.1) !important;

  --button-active-bgcolor: var(--accent-3) !important;
  --button-bgcolor: var(--accent-1) !important;
  --button-hover-bgcolor: var( --accent-2) !important;
  
  --chrome-content-separator-color: var(--accent-0) !important;

  --checkbox-border-color: var(--accent-4) !important;
  --checkbox-checked-active-bgcolor: var(--accent-2) !important;
  --checkbox-checked-bgcolor: AccentColor !important;
  --checkbox-checked-color: var(--accent-4) !important;
  --checkbox-checked-hover-bgcolor: var(--accent-2) !important;
  --checkbox-unchecked-active-bgcolor: var(--accent-2) !important;
  --checkbox-unchecked-bgcolor: var(--accent-1) !important;
  --checkbox-unchecked-hover-bgcolor: var(--accent-2) !important;

  --focus-outline-color: var(--accent-4) !important;

  --input-bgcolor: var(--accent-2) !important;
  --input-border-color: var(--accent-2) !important;

  --lwt-accent-color: AccentColor !important;
  --lwt-selected-tab-background-color:  var(--lwt-toolbar-field-background-color) !important;
  --lwt-toolbar-field-background-color: var(--accent-2) !important;
  --lwt-toolbar-field-border-color: rgb(190, 190, 190) !important;
  --lwt-toolbar-field-focus-color: black !important;
  --lwt-toolbar-field-focus: var(--accent-2) !important;
  --lwt-toolbar-field-highlight-text: white !important;
  --lwt-toolbar-field-highlight: var(--accent-2) !important;
  --lwt-toolbar-field: white !important;
  
  --toolbar-field-focus-background-color: var(--accent-0) !important;
  --toolbar-field-non-lwt-bgcolor: var(--accent-4) !important;
  --toolbar-bgcolor: var(--accent-1) !important;
  --toolbar-field-background-color: var(--accent-2) !important;
}

#titlebar > .browser-toolbar {
 background-color: AccentColor !important;
}

.tabbrowser-tab[selected="true"] {
  color: black !important;
}

.tabbrowser-tab {
  color: white !important;
}

input:focus {
  background-color: AccentColor !important;
}